In [1]:
import pandas as pd

In [15]:
df = pd.read_csv('data.csv')
df

,StudentID,Age,Gender,Ethnicity,ParentalEducation,StudyTimeWeekly,Absences,Tutoring,ParentalSupport,Extracurricular,Sports,Music,Volunteering,GPA,GradeClass
0,1001,17,1,0,2,19.833723,7,1,2,0,0,1,0,2.929196,2.0
1,1002,18,0,0,1,15.408756,0,0,1,0,0,0,0,3.042915,1.0
2,1003,15,0,2,3,4.210570,26,0,2,0,0,0,0,0.112602,4.0
3,1004,17,1,0,3,10.028829,14,0,3,1,0,0,0,2.054218,3.0
4,1005,17,1,0,2,4.672495,17,1,3,0,0,0,0,1.288061,4.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2387,3388,18,1,0,3,10.680555,2,0,4,1,0,0,0,3.455509,0.0
2388,3389,17,0,0,1,7.583217,4,1,4,0,1,0,0,3.279150,4.0
2389,3390,16,1,0,2,6.805500,20,0,2,0,0,0,1,1.142333,2.0
2390,3391,16,1,1,0,12.416653,17,0,2,0,1,1,0,1.803297,1.0
2391,3392,16,1,0,2,17.819907,13,0,2,0,0,0,1,2.140014,1.0

In [3]:
promedio_edad = df['Age'].mean()
promedio_edad

16.468645484949832

In [14]:
valores_nulos_por_columna = df.isnull().sum()
valores_nulos_por_columna

StudentID            0
Age                  0
Gender               0
Ethnicity            0
ParentalEducation    0
StudyTimeWeekly      0
Absences             0
Tutoring             0
ParentalSupport      0
Extracurricular      0
Sports               0
Music                0
Volunteering         0
GPA                  0
GradeClass           0
dtype: int64

In [8]:
genero_mas_repetido =df['Gender'].mode()
genero_mas_repetido

0    1
Name: Gender, dtype: int64

In [6]:
hombres = (df['Gender']==0).sum()
hombres

1170

In [9]:
#solucion taller
#cantidad de mujeres
mujeres = (df['Gender']==1).sum()
mujeres

1222

In [13]:
#cantidad de estudiantes que practican deportes
estudiantes_practican_deporte = df['Sports'].sum()
estudiantes_practican_deporte

726

In [27]:
#cantidad de hombres y mujeres que practican deporte
hombres_deportistas = df[(df['Gender'] ==0 ) & (df['Sports'] == 1)]['Sports'].sum()
mujeres_deportistas = df[(df['Gender']==1 ) & (df['Sports']== 1)]['Sports'] . sum()

print ("la catindad de hombres que practican deporte son: ", hombres_deportistas)
print ("la cantidad de mujeres que practican deporte son: ", mujeres_deportistas)

la catindad de hombres que practican deporte son:  360
la cantidad de mujeres que practican deporte son:  366

In [28]:
#cantidad de personas que van tutorias
estudiantes_asisten_tutorias = df['Tutoring'].sum()
print ("la cantida de estudiantes que asisten a tutorias son: ", estudiantes_asisten_tutorias)

la cantida de estudiantes que asisten a tutorias son:  721

In [29]:
# cantidad de hombres y mujeres que van a tutorias.
tutorias_genero = df.groupby('Gender')['Tutoring']. sum()
tutorias_genero

Gender
0    370
1    351
Name: Tutoring, dtype: int64

In [33]:
# Tiempo de estudio max y minimo por semana
tiempo_max = df['StudyTimeWeekly'].max()
tiempo_min = df['StudyTimeWeekly'].min()

print("el tiempo maximo de estudio por semana es: ", tiempo_max)
print("el tiempo minimo de estudio por semana es: ", tiempo_min)

el tiempo maximo de estudio por semana es:  19.97809399526153
el tiempo minimo de estudio por semana es:  0.001056538645936